body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
}

aside {
    flex: 1;
    overflow-y: auto;
}
